<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ShadesofDark{% endblock %}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='skillset.css') }}">
</head>
<body class="bg-image">
    <h1>
        Skillset
    </h1>
    <div class="text">
        <div class="box sidebyside">
        <h2>Preferred Languages</h2>
        <ul>
            <li>Python</li>
            <li>Java</li>
        </ul>
        </div>
        <div class="box sidebyside">
        Technologies

        <dl>
            <dt>Webdev:</dt>
            <dd>
                Flask,<br>
                Next,<br>
                React,<br>
                Tailwind,<br>
            </dd>
        </dl>

            <dl>
            <dt> Web Scraping/ Automation </dt>
            <dd>
             Beautiful Soup, <br> Selenium, <br> Requests <br>
            </dd>
            <dt>Source Control: </dt>
            <dd>
                Git, <br> Github
            </dd>
            <dt>Gamedev/ Graphics</dt>
            <dd>Godot, <br>
            Pygame, <br>
            </dd>

            <dt> Data Science and AI/ML:</dt>
            <dd>
                Matplotlib,<br>
                Pandas,<br>
                NumPy,<br>
                Scikit-Learn,<br>
                My Own Neural Network <br>
            </dd>
            <dt> Databases: </dt>
            <dd>
                MongoDB,<br>
                SQLite, <br>
                MySQL <br>
            </dd>
            <dt>Networking: </dt>
            <dd>
                Python Sockets
            </dd>
            <dt> Image Processing and Computer Vision: </dt>
            <dd>
                OpenCV, <br>
                MediaPipe, <br>
                PIL, <br>

            </dd>

        </dl>
            </div>



    </div>
</body>
</html>